Source: lximedia
Priority: extra
Maintainer: A.J. Admiraal <code@admiraal.dds.nl>
Build-Depends: debhelper (>= 7),
               dpkg-dev (>= 1.13.9),
               bash, 
               doxygen,
               g++,
               gcc,
               make,
               binutils-dev,  
               libasound2-dev, 
               libavcodec-dev,
               libavformat-dev,
               libavutil-dev,
               libdvdnav-dev,
               libswscale-dev,
               libexif-dev,
               libfreetype6-dev,
               libpulse-dev,
               libqtwebkit-dev | libqt4-dev,
               libqt4-test,
               libsmbclient-dev,
               libx11-dev,
               libx11-xcb-dev,
               libxcb-image0-dev,
               libxcb-shm0-dev,
               libxcb-xinerama0-dev,
               libxext-dev,
               libxrandr-dev,
               libxtst-dev,
               libxv-dev,
               qt4-qmake,
               zlib1g-dev
Standards-Version: 3.8.4
Section: libs
Homepage: http://lximedia.sourceforge.net/

Package: liblxicore-dev
Section: libdevel
Architecture: any
Depends: liblxicore1 (= ${binary:Version})
Description: Development files for liblxicore
 liblxicore is the core library containing the shared functions of LXiMedia.

Package: liblxiserver-dev
Section: libdevel
Architecture: any
Depends: liblxicore-dev (= ${binary:Version}),
         liblxiserver1 (= ${binary:Version})
Description: Development files for liblxiserver
 liblxiserver is a media server library that provides HTTP, SSDP and a UPnP
 ConnectionManager, ContentDirectory and MediaServer.

Package: liblxistream-dev
Section: libdevel
Architecture: any
Depends: liblxicore-dev (= ${binary:Version}),
         liblxistream1 (= ${binary:Version}), 
         liblxistreamdevice1 (= ${binary:Version})
Description: Development files for liblxistream
 liblxistream is a streaming media library.

Package: liblximediacenter-dev
Section: libdevel
Architecture: any
Depends: liblxicore-dev (= ${binary:Version}),
         liblxiserver-dev (= ${binary:Version}), 
         liblxistream-dev (= ${binary:Version}), 
         liblximediacenter1 (= ${binary:Version}), 
         liblxistream1 (= ${binary:Version}), 
         liblxistreamdevice1 (= ${binary:Version})
Description: Development files for liblxistream
 liblxistream is a streaming media library.

Package: liblxicore1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         libqtcore4,
         libqt4-xml
Description: A streaming media server library
 Provides the shared functions of LXiMedia.

Package: liblxiserver1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         liblxicore1 (= ${binary:Version}), 
         libqtcore4,
         libqtgui4,
         libqt4-network,
         libqt4-xml
Description: A streaming media server library
 Provides a platform independent abstraction for different multimedia server
 protocols.

Package: liblxistream1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         liblxicore1 (= ${binary:Version}), 
         binutils,
         libasound2,
         libavcodec53 | libavcodec-extra-53 | libavcodec52 | libavcodec51,
         libavformat53 | libavformat-extra-53 | libavformat52 | libavformat51,
         libavutil52 | libavutil-extra-51 | libavutil51 | libavutil50 | libavutil49,
         libswscale2 | libswscale-extra-2 | libswscale1 | libswscale0,
         libdvdnav4,
         libexif12,
         libfreetype6,
         libpulse0,
         libqtcore4,
         libqtgui4,
         libqt4-network,
         libqt4-xml,
         libsmbclient
Recommends: liblxistreamdevice1 (= ${binary:Version})
Description: A streaming media library
 Provides a platform independent abstraction for different multimedia libraries.

Package: liblxistreamdevice1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         liblxicore1 (= ${binary:Version}), 
         liblxistream1 (= ${binary:Version}), 
         libqtcore4
Description: Device library for liblxistream.
 Adds device support to liblxistream.

Package: liblximediacenter1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         liblxicore1 (= ${binary:Version}), 
         liblxiserver1 (= ${binary:Version}), 
         liblxistream1 (= ${binary:Version}), 
         libqtcore4,
         libqtgui4,
         libqt4-script,
         libqt4-xml
Description: A DLNA based transcoding media server
 This package provides the base library for LXiMediaCenter.

Package: lximediacenter1
Section: multimedia
Architecture: any
Depends: ${misc:Depends},
         liblxicore1 (= ${binary:Version}), 
         liblxiserver1 (= ${binary:Version}), 
         liblxistream1 (= ${binary:Version}), 
         liblxistreamdevice1 (= ${binary:Version}),
         liblximediacenter1 (= ${binary:Version}), 
         libqtcore4,
         libqtgui4,
         libqtwebkit4 | libqt4-webkit,
         libqt4-xml
Description: A DLNA based transcoding media server
 LXiMediaCenter is a DLNA based transcoding media server.

Package: lximediacenter1-allinone
Section: multimedia
Architecture: any
Depends: ${misc:Depends},
         binutils,
         libasound2,
         libavcodec53 | libavcodec-extra-53 | libavcodec52 | libavcodec51,
         libavformat53 | libavformat-extra-53 | libavformat52 | libavformat51,
         libavutil52 | libavutil-extra-51 | libavutil51 | libavutil50 | libavutil49,
         libswscale2 | libswscale-extra-2 | libswscale1 | libswscale0,
         libdvdnav4,
         libexif12,
         libfreetype6,
         libpulse0,
         libqtcore4,
         libqtgui4,
         libqtwebkit4 | libqt4-webkit,
         libqt4-script,
         libqt4-xml,
         libsmbclient,
         libx11-6,
         libx11-xcb1,
         libxcb-image0,
         libxcb-shm0,
         libxcb-xinerama0,
         libxrandr2,
         libxext6,
         libxtst6,
         libxv1
Provides: liblxicore1,
          liblxiserver1,
          liblxistream1,
          liblxistreamdevice1,
          liblximediacenter1
Description: A DLNA based transcoding media server
 LXiMediaCenter is a DLNA based transcoding media server.
 This package contains all libraries so it can be distributed easily over the
 internet.
