body {
 padding: 0;
 margin: 0;
 font-family: sans-serif;
 font-size: 0.75em;
 font-weight: normal;
 font-style: normal;
 text-align: left;
 background-color: #FFFFFF;
 color: #000000;
}
h1 {
 font-size: 2em;
 color: #808080;
 border: 1px solid #FFFFFF;
 border-bottom-color: #808080;
}
h2 {
 font-size: 1.5em;
 color: #808080;
}
h3 {
 font-size: 1em;
 color: #808080;
}
img {
 border: none;
}
fieldset {
 padding: 0.5em;
 margin: 0 0.5em 0.5em 0.5em;
 border: 1px solid #000000;
 background-color: #F0EFEF;
}
legend {
 padding: 0.2em 0.5em;
 margin: 0;
 font-weight: bold;
 border: 1px solid #000000;
 border-radius: 1em;
 background-color: #D0CFCF;
}
input {
 border: 1px solid #000000;
}
select {
 border: 1px solid #000000;
}
a.hidden {
 text-decoration: none;
}
table.location {
 padding: 0;
 margin: 0;
 width: 100%;
 border: 1px solid #E0DFDF;
 border-spacing: 0;
 border-bottom-color: #C0BFBF;
 border-right-color: #E0DFDF;
 border-top-color: #E0DFDF;
 border-left-color: #E0DFDF;
 background-color: #E0DFDF;
}
.location td {
 padding: 0.4em;
 margin: 0;
 display: table-cell;
}
.location td:first-child {
 width: 100%;
}
.location div {
 padding: 0.2em;
 margin: 0;
 height: 1.4em;
 white-space: nowrap;
 border: 1px solid #C0BFBF;
 border-bottom-color: #F0EFEF;
 border-right-color: #F0EFEF;
 border-top-color: #C0BFBF;
 border-left-color: #C0BFBF;
 border-radius: 0.5em;
 background-color: #FFFFFF;
}
.location ul {
 padding: 0;
 margin: 0;
 display: table-cell;
 list-style-type: none;
}
.location li {
 padding: 0;
 margin: 0;
 float: left;
}
.location li:before {
 padding: 0.5em;
 margin: 0;
 content:"\25BA";
}
.location img {
 padding: 0;
 margin: 0;
 float: left;
 height: 1.2em;
 border: none;
}
.location input {
 padding: 0;
 margin: 0;
 height: 1.2em;
 border: none;
 background-color: #FFFFFF;
}
.location a:link    { color: #000000; text-decoration: none; }
.location a:visited { color: #000000; text-decoration: none; }
.location a:active  { color: #000000; text-decoration: underline; }
.location a:hover   { color: #000000; text-decoration: underline; }
div.menu {
 padding: 0.7em 1em 0.7em 1em;
 margin: 0;
 width: 14em;
 float: left;
 clear: left;
 background-color: #F0EFEF;
}
.menu ul {
 padding: 0;
 margin: 0;
 list-style-type: none;
 border: 1px solid #D0CFCF;
 background-color: #D0CFCF;
}
.menu li:first-child {
 padding: 0.3em 1em;
 margin: 0;
 overflow: hidden;
 font-weight: bold;
 background-color: #D0CFCF;
}
.menu li {
 padding: 0.3em 1em;
 margin: 0;
 overflow: hidden;
 vertical-align: middle;
 background-color: #FFFFFF;
}
.menu img {
 padding: 0;
 margin: 0 0.2em 0 0;
 width: 1.2em;
 height: 1.2em;
 border: none;
}
.menu a:link    { color: #000000; text-decoration: none; }
.menu a:visited { color: #000000; text-decoration: none; }
.menu a:active  { color: #000000; text-decoration: underline; }
.menu a:hover   { color: #000000; text-decoration: underline; }
div.content {
 padding: 0;
 margin: 0;
 display: table-cell;
 clear: both;
}
table.detailedlist {
 padding: 0;
 margin: 0;
 width: 100%;
 border-spacing: 0;
 border: none;
}
.detailedlist tr {
  vertical-align: middle;
}
.detailedlist th {
 padding: 0 0.25em;
 font-weight: bold;
 text-align: center;
 white-space: nowrap;
 border: 1px solid #C0BFBF;
 border-bottom-color: #C0BFBF;
 border-right-color: #C0BFBF;
 border-top-color: #F0EFEF;
 border-left-color: #F0EFEF;
 background-color: #E0DFDF;
}
.detailedlist th.nostretch {
}
.detailedlist th.stretch {
 width: 1000em;
}
.detailedlist td {
 padding: 0 0.25em;
 text-align: left;
 vertical-align: top;
}
.detailedlist td.stretch_a {
 width: 1000em;
 white-space: normal;
}
.detailedlist td.nostretch_a {
 white-space: nowrap;
}
.detailedlist td.stretch_b {
 width: 1000em;
 white-space: normal;
 background-color: #F0EFEF;
}
.detailedlist td.nostretch_b {
 white-space: nowrap;
 background-color: #F0EFEF;
}
.detailedlist img {
 padding: 0;
 margin: 0 0.3em 0 0;
 width: 1em;
 height: 1em;
 border: none;
}
.detailedlist a:link    { color: #000000; text-decoration: none; }
.detailedlist a:visited { color: #000000; text-decoration: none; }
.detailedlist a:active  { color: #000000; text-decoration: underline; }
.detailedlist a:hover   { color: #000000; text-decoration: underline; }
div.thumbnaillist {
 display: table-cell;
}
div.thumbnaillistitem {
 padding: 1px 1em 1px 1em;
 margin: 0 1em 1em 0;
 width: 128px;
 height: 158px;
 overflow: hidden;
 float: left;
 white-space: nowrap;
 text-align:center;
}
div.thumbnail {
 padding: 0;
 margin: 0;
 width: 128px;
 height: 128px;
 border: 1px solid ThreeDFace;
}
.thumbnail img {
 padding: 0;
 margin: 0;
 width: 128px;
 height: 128px;
 border: none;
}
div.player {
 padding: 0;
 margin: 0.5em;
 display: block;
 text-align: center;
}
