html {
 width: 100%;
 height: 100%;
}
body {
 padding: 0;
 margin: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
 font-family: sans-serif;
 font-size: 75%;
 font-weight: normal;
 font-style: normal;
 text-align: left;
 background-color: #000000;
 color: #FFFFFF;
}

iframe.browser {
 padding: 0;
 margin: 0;
 width: 100%;
 height: 100%;
 border: none;
}
div.audioplayer {
 padding: 0;
 margin: 0;
 width: 100%;
 height: 2em;
 border: none;
 display: table;
}
.audioplayer audio {
 display: none;
}
.audioplayer span {
 padding: 0 0.5em 0 0.5em;
 margin: 0;
 font-size: 1.2em;
 font-weight: bold;
 overflow: hidden;
 white-space: nowrap;
 display: table-cell;
 vertical-align: middle;
}
.audioplayer span.player {
 width: 100%;
}
.audioplayer img {
 padding: 0;
 margin: 0;
 width: 1.2em;
 height: 1.2em;
 display: block;
 vertical-align: middle;
}
.audioplayer img.button {
 cursor: pointer;
}

div.player {
 padding: 0;
 margin: 0;
 width: 100%;
 height: 100%;
 position: absolute;
 left: 0;
 top: 0; 
 z-index: 0;
 border: none;
 display: block;
}
.player video {
 padding: 0;
 margin: auto;
 border: none;
 width: 100%;
 height: 100%;
 display: block;
}
.player img {
 padding: 0;
 display: block;
}
div.playercontrols {
 padding: 0;
 margin: 0;
 width: 100%;
 height: 100%;
 position: absolute;
 left: 0;
 top: 0; 
 z-index: 1;
 display: block;
 text-align: right;
 visibility: hidden;
}
.playercontrols img {
 padding: 0.5em;
 margin: 0.5em;
 width: 2em;
 height: 2em;
 background-color: rgba(0, 0, 0, 0.5);
 display: inline-block;
 cursor: pointer;
}
div.thumbnailbar {
 padding: 0;
 margin: 0;
 width: 100%;
 height: 14em;
 position: absolute;
 left: 0;
 bottom: 0; 
 background-color: rgba(0, 0, 0, 0.5);
 overflow: scroll;
 overflow-y: hidden;
 white-space: nowrap;
}
.thumbnailbar div.listitem {
 padding: 0.25em 0.25em 0 0.25em;
 margin: 0;
 width: 11em;
 height: 12em;
 text-align: center;
 display: table-cell;
}
.thumbnailbar div.thumbnail {
 padding: 0;
 margin: 0 0.5em 0 0.5em;
 width: 10em;
 height: 10em;
 background-color: #000000;
 border: 1px solid #D0D0D0;
 cursor: pointer;
}
.thumbnailbar div.title {
 width: 11em;
 overflow: hidden;
 white-space: nowrap;
 font-size: 1em;
}
.thumbnailbar div.text {
 display: none;
}
.thumbnailbar p.text {
 display: none;
}
.thumbnailbar img {
 padding: 0;
 margin: 0;
 width: 10em;
 height: 10em;
 border: none;
}
