#!/usr/bin/make -f

export DH_COMPAT=5

build: Makefile
	dh_testdir
	$(MAKE)

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs -ptmp usr/bin
	$(MAKE) install
	mkdir -p debian/tmp/etc/xdg/autostart
	cp deploy/debian/lximediaserver.desktop debian/tmp/etc/xdg/autostart/
	dh_install --fail-missing --sourcedir=debian/tmp

binary: install
	dh_testdir
	dh_testroot
	dh_lintian
	dh_installinit --init-script=lximcbackend -- start 41 1 2 3 4 5 . stop 80 0 6 .
	dh_link
	dh_compress
	dh_fixperms
	dh_strip
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_testdir
	dh_testroot
	rm -rf CMakeFiles
	rm -f Makefile
	dh_clean

Makefile:
	dh_testdir
	cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=`pwd`/debian/tmp/usr

