p {
 padding: 0;
 margin: 0.5em;
}
p.idle {
 font-style: italic;
 color: #808080;
}
p.title {
 margin: 0;
 font-size: 1.5em;
 font-weight: bold;
 color: #808080;
}
span.idle {
 font-style: italic;
 color: #808080;
}

body.browser {
 overflow: hidden;
}
iframe.browser {
 padding: 0;
 margin: 0;
 width: 100%;
 height: 100%;
 border: none;
}

div.servers {
 padding: 0;
 margin: 0;
 display: table-cell;
}
.servers div.server {
 padding: 0;
 margin: 0.5em;
 width: 30em;
 display: table;
 float: left;
 overflow: hidden;
 white-space: nowrap;
 border: 1px solid #D0D0D0;
}
.server span {
 padding: 0;
 margin: 0;
 display: table-cell;
 vertical-align: top;
}
.server span.title {
 padding-left: 0.5em;
 width: 100%;
}
.server img {
 padding: 0;
 margin: 0;
 width: 4em;
 height: 4em;
}
.server p {
 padding: 0;
 margin: 0;
 font-size: 0.8em;
 overflow: hidden;
 white-space: nowrap;
}
.server p.name {
 font-size: 1.2em;
 font-weight: bold;
}
