div.list_thumbnails {
 display: table-cell;
}
.list_thumbnails div.listitem {
 padding: 1px 0.25em 1px 0.25em;
 margin: 0;
 width: 11em;
 height: 12em;
 float: left;
 text-align: center;
}
.list_thumbnails div.thumbnail {
 padding: 0;
 margin: 0.5em 0.5em 0 0.5em;
 width: 10em;
 height: 10em;
 border: 1px solid #D0D0D0;
}
.list_thumbnails div.title {
 overflow: hidden;
 white-space: nowrap;
 font-size: 1em;
}
.list_thumbnails div.text {
 display: none;
}
.list_details p.text {
 display: none;
}
.list_thumbnails img {
 padding: 0;
 margin: 0;
 width: 10em;
 height: 10em;
 border: none;
}

div.list_details {
 display: table-cell;
}
.list_details div.listitem {
 padding: 1px 0.25em 1px 0.25em;
 margin: 0;
 width: 24em;
 height: 9em;
 float: left;
 text-align: left;
}
.list_details div.thumbnail {
 padding: 0;
 margin: 0.5em;
 width: 8em;
 height: 8em;
 border: 1px solid #D0D0D0;
 float: left;
}
.list_details div.title {
 padding: 0;
 margin: 0.5em;
 float: none;
 overflow: hidden;
 font-size: 1em;
}
.list_details div.text {
 padding: 0;
 margin: 0.5em;
 float: none;
 overflow: hidden;
}
.list_details p.text {
 padding: 0;
 margin: 0;
 display: block;
 font-size: 0.7em;
}
.list_details img {
 padding: 0;
 margin: 0;
 width: 8em;
 height: 8em;
 border: none;
}
