table {
 padding: 0;
 margin: 0;
 border: none;
 width: 100%;
}
tr {
 padding: 0;
 margin: 0;
}
td.log {
 padding: 0;
 margin: 0;
 vertical-align: top;
}
td.files {
 padding: 0;
 margin: 0;
 vertical-align: top;
 width: 10em;
}
.files a:link      { color: #808080; text-decoration: none; }
.files a:visited   { color: #808080; text-decoration: none; }
.files a:active    { color: #000000; text-decoration: none; }
.files a:hover     { color: #000000; text-decoration: none; }
p {
 padding: 0;
 margin: 0;
}
