fieldset {
 padding: 0.5em;
 margin: 0 0.5em 0.5em 0.5em;
 border: 1px dotted #808080;
 width: 45em;
 float: left;
}
legend {
 padding: 0.2em 0.5em;
 margin: 0;
 font-weight: bold;
 border: 1px solid #808080;
}
input {
 border: 1px solid #000000;
}
select {
 border: 1px solid #000000;
}
iframe {
 border: 1px solid #000000;
}
table {
 padding: 0;
 margin: 0;
 border: none;
 width: 100%;
}
tr {
 padding: 0;
 margin: 0;
}
td {
 padding: 0;
 margin: 0;
 vertical-align: top;
}
td.right {
 padding: 0;
 margin: 0;
 vertical-align: middle;
 text-align: right;
}
p.buttons {
 padding: 0;
 margin: 0;
 text-align: right;
}
p.bug {
 font-size: 0.75em;
 font-style: italic;
 color: #808080;
}
p.advanced {
 margin-top: 1em;
}
.bug a:link      { color: #808080; text-decoration: underline; }
.bug a:visited   { color: #808080; text-decoration: underline; }
.bug a:active    { color: #808080; text-decoration: underline; }
.bug a:hover     { color: #808080; text-decoration: underline; }

div.wait {
 position: absolute;
 display: table;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 z-index: 1;
 background-color: rgba(192, 192, 192, 0.8);
}
.wait div {
 display: table-cell;
 vertical-align: middle;
 text-align: center;
}
.wait p {
 padding-left: 2em;
 padding-right: 2em;
 padding-top: 1em;
 padding-bottom: 1em;
 display: inline-block;
 border: 1px solid #000000;
 border-radius: 0.5em;
 background-color: #E8E8E8;
 font-size: 2em;
}
.wait img {
 width: 1em;
 height: 1em;
 margin-right: 0.5em;
}

div.error {
 position: absolute;
 display: table;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 z-index: 1;
 background-color: rgba(255, 192, 192, 0.8);
}
.error div {
 display: table-cell;
 vertical-align: middle;
 text-align: center;
}
.error p {
 padding-left: 2em;
 padding-right: 2em;
 padding-top: 1em;
 padding-bottom: 1em;
 display: inline-block;
 border: 1px solid #800000;
 border-radius: 0.5em;
 background-color: #FFE0E0;
 font-size: 2em;
}
