fieldset {
 padding: 0.5em;
 margin: 0 0.5em 0.5em 0.5em;
 border: 1px dotted #808080;
 width: 45em;
 float: left;
}
legend {
 padding: 0.2em 0.5em;
 margin: 0;
 font-weight: bold;
 border: 1px solid #808080;
}
input {
 border: 1px solid #000000;
}
select {
 border: 1px solid #000000;
}
iframe {
 border: 1px solid #000000;
}
table {
 padding: 0;
 margin: 0;
 border: none;
 width: 100%;
}
tr {
 padding: 0;
 margin: 0;
}
td {
 padding: 0;
 margin: 0;
 vertical-align: middle;
}
td.right {
 padding: 0;
 margin: 0;
 vertical-align: middle;
 text-align: right;
}
p.buttons {
 padding: 0;
 margin: 0;
 text-align: right;
}
p.bug {
 font-size: 0.75em;
 font-style: italic;
 color: #808080;
}
.bug a:link      { color: #808080; text-decoration: underline; }
.bug a:visited   { color: #808080; text-decoration: underline; }
.bug a:active    { color: #808080; text-decoration: underline; }
.bug a:hover     { color: #808080; text-decoration: underline; }
